doctype html
html(lang='en')
  head
    title= 'Overpass | Philuren'
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css')
    link(rel='stylesheet', href='/sequi-light.css')
    link(rel='stylesheet', href='/styles.css')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='http://maps.google.com/maps/api/js?sensor=false')

    script(src='/js/navbar.js')
    script(src='/js/wink.js')
    script(src='/js/ko-binding-enter.js')
    script(src='/js/view-utils.js')
    script(src='/client.js')
  body
    span(id='server-ip' data-server-ip='#{server_ip}')
    nav(role='navigation').navbar.navbar-default.navbar-fixed-top#hackathon-navbar
      .navbar-header
        a(href='#about').anchor-link
          img(src='/img/logo.png' alt='logo' class='logo')
        button(type='button' data-toggle='collapse' data-target='.navbar-ex1-collapse').navbar-toggle
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav.navbar-right
          li.navbar-link
            a(href='#cli-cmd').anchor-link CLI

    div(data-page-id='1').page.page-header#about
      .container.page-header-container
        .row
          .col-xs-12.page-header-content
            h1.hackathon-header Philuren
            h5.hackathon-tilde ~~~~~~~~
            h2.hackathon-slogan Coffee drinkers, Software tinkers
            .profile(style='margin-right: 60px;')
              img(src='/img/phifflarn.png' data-src='/img/phifflarn.png' data-wink='/img/phifflarn-wink.png').profile-image#phifflarn-profile
              br
              h1.profile-name phifflarn
            .profile
              img(src='/img/buren.png' data-src='/img/buren.png' data-wink='/img/buren-wink.png').profile-image#buren-profile
              br
              h1.profile-name buren
            if user_ip
              p
                span Local IP address:
                strong #{user_ip}
            if server_ip
              p
                span Server IP address:
                strong #{server_ip}

        .row
          .col-xs-12
            div(style='margin-bottom: 142px;')
    .down-button-container
      p.center.down-button
        a(href='#simple-hack').anchor-link
          img(src='/img/down2.png')
        .break-line

    div(data-page-id='2').page.page-cube.section
      h1#simple-hack Philurens Latest experiment
      .app-dialog
        h1 Connect Android Device
        h5 ~~~~~~~~~~
        p
          | This experiment requires an android counterpart.
          br
          br
          strong Please start the android app.
          br
          | This dialog will dissapear when app is connected.
      #cli.app-cmd
        h1 CLI
        .cli-history
          div(id='phone-location-map')
          ul(data-bind='foreach: cliHistory')
            li
              span
              span(data-bind='text: cmd')
        .input-group
          span.input-group-addon $
          input(
            type='text'
            name='cmd'
            id='cli-cmd'
            class='form-control'
            placeholder=''
            autofocus=true
            data-bind="value: cliString, valueUpdate: 'input', executeOnEnter: sendCli"
          )

    .down-button-container.white
      p.center.down-button
        a(href='#hire-us').anchor-link
          img(src='/img/down-inverted.png')
        .break-line
